@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Galano Grotesque';
}

body{
  background-color: #FFFFFF;
}

a{
  max-width: max-content;
}

.container-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #371DF5;
  padding: 0 50px;
  height: 50px;
}

.logo-branca {
  margin-top: 5px;
  width: 120px;
}

.link-cabecalho{
  text-decoration: none;
}

.link-cabecalho:hover{
  text-decoration: underline 1px #FFFFFF;
}

.lista-menu-navegacao {
  max-width: 100%;
  font-size: 14px;
  gap: 30px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.item-menu-navegacao {
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}

.botao-contato {
  border: none;
  border-radius: 7px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  width: 110px;
  height: 30px;
}

.botao-contato:hover{
  cursor: pointer;
  background-color: #ececec;
}

#contatos{
  padding: 50px 50px;
}

.titulo-contatos{
  font-size: 30px;
  padding: 30px 0;
}

.contatos-container{
  margin-bottom: 40px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icone-contato{
  width: 40px;
}

.email-e-whatsapp{
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulos{
  font-size: 28px;
}

.titulo-email{
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paragrafo-email{
  font-size: 15px;
  margin-bottom: 10px;
}

.botao-quero-aprender {
  color: #FFFFFF;
  width: 160px;
  border: none;
  border-radius: 10px;
  background-color: #371DF5;
  font-weight: 700;
  font-size: 15px;
  height: 40px;
}

.botao-quero-aprender:hover{
  background-color: #10008a;
  cursor: pointer;
}

.rodape-container{
  padding: 20px 50px;
  background-color: #000000;
}

.link-rodape-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link-rodape{
  color: #FFFFFF;
  text-decoration: none;
}

.link-rodape:hover{
  text-decoration: underline 1px #FFFFFF;
}

.direitos{
  padding: 20px 0;
  color: #FFFFFF;
  font-size: 13px;
}

@media screen and (max-width: 896px) {
  .container-cabecalho{
    padding: 0 20px;
  }

  .logo-branca{
    width: 120px;
    margin-top: 5px;
  }
  
  #secao-principal{
    padding: 0 20px;
  }

  .item-menu-navegacao{
    display: none;
  }

  .botao-contato{
    color: #000000;
    display: inherit;
    width: 130px;
    height: 35px;
    font-size: 15px;
  }

  .a-botao-contato{
    text-decoration: none;
  }

  .titulo-contatos{
    font-size: 20px;
  }

  .contatos-container{
    display: flex;
    flex-direction: column;
  }

  .titulos{
    font-size: 20px;
  }

  .paragrafo-email{
    font-size: 15px;
  }

  .icone-contato{
    width: 40px;
  }

    .botao-quero-aprender{
    border-radius: 7px;
    height: 35px;
    width: 150px;
    font-size: 15px;
  }

    .rodape-container{
    padding: 0 20px;
  }

  .link-rodape-container{
    font-size: 15px;
    gap: 5px;
    flex-direction: column;
  }

  .direitos{
    font-size: 10px;
  }

  #contatos{
    padding: 0 20px;
  }
} 