@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Galano Grotesque';
}

body{
  background-color: #FFFFFF;
}

a{
  max-width: max-content;
}

.container-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #371DF5;
  padding: 0 50px;
  height: 50px;
}

.logo-branca {
  margin-top: 5px;
  width: 120px;
}

.link-cabecalho{
  text-decoration: none;
}

.link-cabecalho:hover{
  text-decoration: underline 1px #FFFFFF;
}

.lista-menu-navegacao {
  max-width: 100%;
  font-size: 14px;
  gap: 30px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.item-menu-navegacao {
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}

.botao-contato {
  border: none;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  width: 110px;
  height: 30px;
}

.botao-contato:hover{
  cursor: pointer;
  background-color: #ececec;
}


.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#secao-principal {
  padding: 0 50px;
}

.texto-principal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulos{
  font-size: 28px;
}

.logo-colorida {
  width: 150px;
}

.titulo-principal {
  font-size: 30px;
  max-width: auto;
}

.paragrafo-principal {
  max-width: 93%;
  font-size: 17px;
}

.botao-quero-aprender {
  margin-top: 10px;
  color: #FFFFFF;
  width: 160px;
  border: none;
  border-radius: 20px;
  background-color: #371DF5;
  font-weight: 700;
  font-size: 15px;
  height: 40px;
}

.botao-quero-aprender:hover{
  background-color: #10008a;
  cursor: pointer;
}

.imagem-principal {
  margin-left: 30px;
  position: relative;
  width: 550px;
}

#secao-pesquisas {
  padding: 0 50px;
  margin-bottom: 80px;
}

.titulo-pesquisas {
  margin-bottom: 50px;
}

.cartoes {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.cartao-pesquisa {
  border-radius: 10px;
  padding: 20px 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
  border: 1px solid #D9D9D9;
}

.cartao-pesquisa:hover{
  border: 1px solid #371DF5;
}

.titulo-pesquisas{
  font-size: 30px;
}

.titulo-pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.paragrafo-pesquisa {
  font-size: 15px;
  margin-top: 20px;
}

.icone-pesquisa {
  width: 50px;
}

#secao-quero-aprender{
  padding: 0 50px;
}

.titulo-quero-aprender{
  font-size: 30px;
}

.paragrafo-quero-aprender{
  font-size: 15px;
  max-width: 53%;
  padding: 10px 0;
}

.paragrado-cartao{
  font-size: 15px;
}

.cartoes-plataforma{
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.cartao-plataforma{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}

.bold{
  font-weight: 800;
}

#logo1{
  width: 65px;
}

#logo2{
  width: 50px;
}

#logo3{
  width: 50px;
}

#secao-perguntas-frequentes{
  padding: 0 50px;
  margin-bottom: 80px;
}

.perguntas-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-perguntas-frequentes-container{
  margin-bottom: 30px;
}

.perguntas{
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #D9D9D9;
  flex-direction: column;
  gap: 30px;
  display: flex;
  justify-content: center;
}

.perguntas:hover{
  border-color: #371DF5;
}

.titulo-perguntas{
  font-size: 25px;
  max-width: 80%;
}

.paragrafo-resposta{
  font-size: 16px;
}

.icone-mais{
  width: 35px;
  cursor: pointer;
}

.botao-mais{
  background: none;
  border: none;
}

.pergunta{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resposta{
  display: none;
}

.resposta.ativa{
  display: block;
}

#secao-info{
  padding: 0 50px;
}

.titulo-info{
  font-size: 30px;
}

.textos-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paragrafo-info1{
  font-size: 15px;
  max-width: 51%;
}

.paragrafo-info2{
  font-size: 15px;
  max-width: 75%;
}

.paragrafo-info3{
  font-size: 15px;
  max-width: 75%;
}

.titulo-info{
  padding: 20px 0;
}

.fotos-container{
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foto-credito{
  border-radius: 100%;
  background-color: #D9D9D9;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.rodape-container{
  padding: 20px 50px;
  background-color: #000000;
}

.link-rodape-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link-rodape{
  color: #FFFFFF;
  text-decoration: none;
}

.link-rodape:hover{
  text-decoration: underline 1px #FFFFFF;
}

.direitos{
  padding: 20px 0;
  color: #FFFFFF;
  font-size: 13px;
}

@media screen and (max-width: 896px) {
  .container-cabecalho{
    padding: 0 20px;
  }

  .logo-branca{
    width: 120px;
    margin-top: 5px;
  }
  
  #secao-principal{
    padding: 30px 20px;
    margin-bottom: 10px;
  }

  .item-menu-navegacao{
    display: none;
  }

  .botao-contato{
    color: #000000;
    display: inherit;
    width: 100px;
    height: 30px;
    font-size: 13px;
  }

  .a-botao-contato{
    text-decoration: none;
  }
  
  .logo-colorida{
    width: 90px;
  }

  .texto-principal{
    padding: 30px 0;
  }

  .titulo-principal{
    font-size: 20px;
  }

  .paragrafo-principal{
    font-size: 15px;
  }

  .imagem-principal{
    display: none;
  }

  .botao-quero-aprender{
    border-radius: 20px;
    height: 35px;
    width: 150px;
    font-size: 15px;
  }

  #secao-pesquisas{
    padding: 0 20px;
  }

  .titulo-pesquisas{
    margin-bottom: 20px;
    font-size: 20px;
  }

  .titulo-pesquisa{
    gap: 10px;
  }

  .titulos{
    font-size: 18px;
  }

  .icone-pesquisa{
    width: 30px;
  }

  .paragrafo-pesquisa-p{
    font-size: 15px;
  }

  #secao-quero-aprender{
    margin-bottom: 60px;
    padding: 0 20px;
  }

  .titulo-quero-aprender{
    font-size: 20px;
  }

  .paragrafo-quero-aprender{
    max-width: 100%;
    font-size: 15px;
  }

  .cartoes-plataforma{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .cartao-plataforma{
    gap: 20px;
    margin: 0;
  }

  .paragrado-cartao{
    font-size: 15px;
  }

  #logo1{
    width: 30px;
  }

    #logo2{
    width: 30px;
  }
  
    #logo3{
    width: 30px;
  }

  #secao-perguntas-frequentes{
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .titulo-perguntas{
    font-size: 18px;
  }

  .icone-mais{
    width: 25px;
  }

  .paragrafo-resposta{
    font-size: 15px;
  }

  #secao-info{
    padding: 0 20px;
  }

  .titulo-info{
    font-size: 20px;
  }

  .paragrafo-info1{
    max-width: 100%;
    font-size: 15px;
  }

  .paragrafo-info2{
    max-width: 100%;
  }

  .paragrafo-info3{
    max-width: 100%;
    font-size: 15px;
  }

  .fotos-container{
    gap: 50px;
    display: flex;
    flex-direction: column;
  }

  .fotos p{
    font-size: 15px;
  }

  .rodape-container{
    padding: 0 20px;
  }

  .link-rodape-container{
    font-size: 15px;
    gap: 5px;
    flex-direction: column;
  }

  .direitos{
    font-size: 10px;
  }
}
